<div class="row">
    <div class="col-md-6">

        <app-productos></app-productos>
        
    </div>
    <div class="col-md-6">
        <div class="card" style="padding: 20px;">
            <img src="{{'http://localhost:3900/api/getImage/DBn8YlCJ0AOMUS-KoMENgzd9.jpg'}}"
                class="card-img-top" alt="..." style="height: 250px;">
            <div class="card-body">
                <h4 class="card-title">
                    <p class="text-center">Cámara Web Xiaomi Imilab 1080p </p>
                </h4>
                <p class="card-text">CARACTERÍSTICAS CLAVES Video nítido Full HD 1080p: La cámara de alta resolución y los múltiples ángulos de visión aseguran que obtenga una imagen perfecta y con una calidad y definición...</p>
                <p class="card-text text-center">40$</p>
            </div>
        </div>  
    </div>
</div>