<h1 class="container">Contactanos</h1>



<form>
    <div class="row">
        <div class="col-md 6">
            <div class="col-md-9" style="margin: 1%">
                <label for="nombre">Nombre</label>
                <br />
                <!--cada campo forma parte del formulario de angular-->
                <input class="form-control form-control-md" type="text" name="nombre" required pattern="[a-zA-Z]+"
                    placeholder="Escribe tu nombre" />

            </div>

            <div class="col-md-9" style="margin: 1%">
                <label for="apellido">Apellido</label>

                <input class="form-control form-control-md" type="text" name="apellido" required pattern="[a-zA-Z]+"
                    placeholder="Escribe tu apellido">
            </div>

            <div class="col-md-9" style="margin: 1%">
                <label for="correo">Email</label>

                <input class="form-control form-control-md" type="text" name="correo" required
                    placeholder="Ingresa tu Email">
            </div>


            <div class="col-md-9" style="margin: 1%">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control form-control-md" type="text" name="mensaje" required>
            </textarea>
            </div>

            <div class="col-md 6">
                <button class="btn btn-primary">Enviar</button>
            </div>

        </div>

        <div class="col-md 6">
            <div class="col-med 4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15959.214398579932!2d-78.44108889999998!3d-0.1556415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sec!4v1600756466369!5m2!1ses-419!2sec"
                    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>

</form>